.show-dict {
    transform: translateY(100px);
    opacity: 1;
    transition: 1s;
    z-index: 3;
}

.hide-dict {
    transform: translateY(-100px);
    opacity: 0;
    transition: 1s;
    z-index: -3;
}